<div class="nosotros">

<div class="imgUs">
		<img  src="assets/imgs/img_nosotros.png">		
		
	</div>

	<div class="HistoriaData">
		<h2 align="left">DEVOLVIENDO A LA TIERRA SUS NUTRIENTES</h2>
		<h2 align="left">NUESTRA HISTORIA</h2>
		<h4>Esta aventura empieza en el hogar, con actividades cotidianas como el cuidado del jardín, inquietos por aprovechar los residuos decidimos darle un giro al mal habito de hacer basura y agregando los desperdicios de cocina empezamos a producir composta.¡Fue entonces cuando el uso de la composta nos llevó a descubrir la LOMBRICULTURA! En ese momento dejo de ser una actividad más, realizamos pruebas en diferentes plantas y hortalizas obteniendo excelentes resultados.
		sActualmente el abono que producimos lo aplicamos en hortalizas y producción a mayor escala de nopal.
</h4>
<h2>MISION</h2>
<h4>Ser una empresa líder a nivel nacional en la venta de productos orgánicos</h4>

<h2>VISION</h2>
<h4>Fortalecer la industria agrorgánica mediante alianzas productivas y productos de
calidad que otorguen beneficios al campo, consumidores, socios comerciales y sus
integrantes.</h4>

<h2>VALORES</h2>

<ul class="liVi">
	<li>Responsabilidad con el medio ambiente</li>
	<li>Calidad en nuestros productos</li>
	<li>Compromiso con el cliente</li>
	<li>Pertenencia con socios comerciales</li>
</ul>
	</div>
	
</div>