<div class="md-6">
	<div class="TR">
		<div class="tips">

				<h2>SI ESTAS INTERESADO EN LA TENDENCIA ORGANICA,
					CHECA ESTOS TIPS 
				</h2>

				<img src="assets/imgs/receta.jpg" class="tipsImg">	

				<h2>TU HUERTO EN CASA</h2>
				<ol type="1">
					<li>Identifica el espacio donde vas a instalar tu huerto  con mínimo de 
						tres horas de sol directo.
					</li>
					<li>UbÍcalo cerca de la toma de agua.</li>
					<li>Revísalo de tres a cuatro visitas a la semana y cuida que tenga buen aspecto.</li>
					<li>Manten la humedad necesaria. Puedes implementar un sistema de 
						riego automatizado.
					</li>
					<li>Coloca hojas secas sobre el sustrato del huerto para conservar humedad 
						y evitar que crezcan hierbas.
					</li>
					<li>Nutre tu huerto con sustrato y una dosis de lombricomposta que sirve 
						para varios ciclos de cultivo.
					</li>
					<li>Prevee plagas aplicando soluciones como purín de ortigas o lombricompostas.</li>
					<li>Cubre el huerto con malla sombra, protege de lluvia y granizo.</li>
				</ol>

				<h2>UN PLAN DETOX CON EL NOPAL</h2>
				<span>El nopal es una importante fuente de nutrientes y fibra, por lo que es ideal para 
					adelgazar debido a que ayuda a eliminar grasas y toxinas, es depurativo y 
					diurético, mejora el metabolismo y previene la aparición de celulitis.
					Prueba nuestras recetas de jugos con nopal y empieza a conocer sus beneficios.
				</span>
		</div>
		
		<div class="receta">
				<h2>RECETAS</h2>
				<img src="assets/imgs/recetaNopal.jpg" class="nopal">
				<h2>Talpique de nopales</h2>
				<dl>
					<dt>1/2 cucharita de sal</dt>
					<dt>2 piezas de xoconostle</dt>
					<dt>6 piezas de penca de nopal</dt>
					<dt>1 pieza de chile de árbol</dt>
					<dt>2 ramas de epazote</dt>
					<dt>3 piezas de hojas de maíz secas (totomoxtle)</dt>
				</dl>
				<span>Poner a remojar las hojas para tamal en agua 
					caliente para que sesuavicen. 
					Pelar el xoconostle con un cuchillo pequeño, 
					cortar por la mitad, retirar las semillas 
					con una cuchara y cortar en trocitos.
					Picar el chile y las hojas del epazote finamente.
					Mezclar el nopal, el xoconostle, el chile y el 
					epazote con sal en un tazón.
					Escurrir las hojas para tamal, abrirlas bien 
					y acomodarlas de modo que se traslapen un poco. 
					Rellenar con la mezcla de nopales y xoconostle.
					Envolver bien. Poner a cocer sobre el comal 
					a fuego bajo, dando vueltas para que se cuezan 
					parejo. El tlapique está listo cuando deja de
					escurrir líquido. Servir como entrada o plato fuerte.
				</span>

				<h2>JUGO DE NOPAL CON APIO, PIÑA,TORONJA Y MIEL</h2>
				<span>1/2 nopal mediano, 1 rebanada de piña, 2 tallos de apio, 
					el jugo de 2 toronjas y 1 cucharada de miel. 
					Mezcla todo muy bien en la licuadora hasta que se corte 
					la baba del nopal y listo.
				</span>	
				<h2>JUGO VERDE</h2>	
				<span>Lava, desinfecta y coloca en licuadora el jugo de 1 limón, 
					media taza de perejil, 1 tallo de apio, 5 hojas de espinacas, 
					1 trozo pequeño de jengibre, medio pepino y 
					1 manzana sin semillas pero con cáscara. 
				</span>

		</div>
	</div>
</div>